<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.car_insurace_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="._MainLogin"
            android:label="@string/title_activity___main_login"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.example.group2.car_insurace_project.LoggedInMain"
            android:label="@string/title_activity_main_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.group2.car_insurace_project.RandomIncident" />
        <activity android:name="com.example.group2.car_insurace_project.AddCar" />
        <activity android:name="com.example.group2.car_insurace_project.SignUp" />
        <activity android:name="com.example.group2.car_insurace_project.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
    </application>

</manifest>